#vip-realtime-collaboration-overlay {
	position: fixed;
	z-index: 2000;
	pointer-events: none;
	box-sizing: border-box;
	padding: 5px;
}

.vip-realtime-collaboration-avatars {
	background-color: #fff;
	border-radius: 16px;
	border: 1px solid #ddd;
	padding: 4px 6px;
	position: absolute;
	top: 10px;
	right: 20px;
	pointer-events: auto;

	display: flex;
	align-items: center;

	.vip-realtime-collaboration-avatar {
		margin-left: -8px;

		&:nth-child(1) {
			margin-left: 0;
			z-index: 3;
		}

		&:nth-child(2) {
			z-index: 2;
		}

		&:nth-child(3) {
			z-index: 1;
		}
	}

	.vip-realtime-collaboration-avatar-remaining {
		margin: 0 6px 0 4px;
	}
}

.vip-realtime-collaboration-avatar {
	width: 26px;
	height: 26px;

	img {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		object-fit: cover;
		border: 1px solid #fff;

		/* Fallback for images that haven't loaded yet */
		font-size: 0; // Hide alt text while the image loads.
	}
}

.vip-realtime-collaboration-sidebar-users {
	margin: 8px 0 0 10px;

	.components-flex-item {
		padding: 2px 0;

		&:last-child {
			border-bottom: none;
		}
	}
}
