.vip-real-time-collaboration-collaborators-list.components-popover {
	.components-popover__content {
		border: none;
		border-width: 1px 0px 0px 1px;
		border-style: solid;
		border-color: #ddd;
		border-radius: 8px;
		background: #fff;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
			0px 1px 2px rgba(0, 0, 0, 0.05),
			0px 1px 2px rgba(0, 0, 0, 0.05),
			0px 8px 8px rgba(0, 0, 0, 0.02);
	}

	.vip-real-time-collaboration-collaborators-list-content {
		padding: 16px;
		min-width: 280px;
		border-radius: 8px;
	}

	.vip-real-time-collaboration-collaborators-list-header {
		font-size: 11px;
		font-weight: 500;
		color: var(--Gutenberg-Gray-700, #757575);
		text-transform: uppercase;
		line-height: 16px;
		padding-bottom: 8px;
	}

	.vip-real-time-collaboration-collaborators-list-items {
		display: flex;
		flex-direction: column;
	}

	.vip-real-time-collaboration-collaborators-list-item {
		display: flex;
		align-items: center;
		padding: 6px 0;
		gap: 8px;

		// Make avatars larger in the list
		.vip-real-time-collaboration-avatar {
			width: 32px;
			height: 32px;

			img {
				width: 32px;
				height: 32px;
				border-radius: 6px;
			}
		}
	}

	.vip-real-time-collaboration-collaborators-list-item-info {
		display: flex;
		flex-direction: column;
		flex: 1;
		line-height: 16px;
		font-size: 12px;
	}

	.vip-real-time-collaboration-collaborators-list-item-email {
		color: #757575;
	}
}
