.vip-rtc-post-locked-modal__container {
	align-items: center;
	bottom: 0;
	display: flex;
	left: 0;
	margin: auto;
	max-width: 30rem;
	position: absolute;
	right: 0;
	top: 0;
}

.vip-rtc-post-locked-modal__p {
	font-size: 1.3rem;
	text-align: center;
}
