.vip-real-time-collaboration-settings {
	.vip-telemetry-target {
		margin-top: 24px;
		min-height: 30px;
		._pendo-badge, ._pendo-badge img {
			width: auto !important;
 			height: auto !important;
		}
	}
}
